<p>Dear <%= Name %>,</p>
<br/>
<p>HELP!!
A person needs help of yours urgent! Please open "helpid" to know the location of that person.
  Click on this link for exact location :
  https://www.google.co.in/maps/@<%= long %>,<%= lat %>,15z?hl=en
  You can also use this application for future use, for your own family members





Thankyou
Team - Helpid
</p>



